{% load static %}


<div class="owl-item position-relative">
  <div class="background-image-wrapper position-absolute top-0 left-0 right-0 bottom-0 animated kenBurnsToRightTop"
       style="background-image: url('{{ value.background_image.url }}'); background-size: cover; background-position: center; animation-duration: 20s;">
  </div>
  <div class="container position-relative z-index-3 h-100">
    <div class="row justify-content-{{ value.text_alignment|default:'start' }} align-items-center h-100">
      <div class="col-lg-7 text-center text-sm-start mb-4 pb-5 pb-lg-0">
        <h2 class="text-color-light font-weight-semibold text-3 text-sm-4 line-height-1 positive-ls-2 mb-1 appear-animation"
            data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1000">
          {{ value.subtitle }}
        </h2>
        <h1 class="d-inline-block text-color-light font-weight-bold text-11 text-sm-13 text-md-14 line-height-1 position-relative mb-3 pb-1 appear-animation"
            data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1200">
          {{ value.headline }}
          {% if value.highlight_text %}
            <span class="custom-highlight-text-1 alternative-font-3 text-color-secondary d-none d-md-block">
              <span data-plugin-animated-letters data-plugin-options='{"startDelay": 2200, "minWindowWidth": 0}'>{{ value.highlight_text }}</span> 
              <img src="{% static 'img/demos/one-page-agency/blue-line.png' %}" class="img-fluid appear-animation"
                   data-appear-animation="fadeInRightShorterPlus" data-appear-animation-delay="3000"
                   data-appear-animation-duration="2s" alt="" />
            </span>
          {% endif %}
        </h1>
        <p class="text-4 text-color-grey w-sm-75pct pe-md-5 pe-lg-0 pe-xl-5 pb-3 mb-4 appear-animation"
           data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1400">
          {{ value.description }}
        </p>
        <a href="{{ value.button_link }}" class="btn btn-gradient custom-btn-effect-1 custom-border-radius-1 d-inline-flex align-items-center font-weight-semibold text-3-5 btn-px-5 btn-py-3 appear-animation"
           data-hash data-hash-offset="0" data-hash-offset-lg="32"
           data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1600"
           data-appear-animation-duration="1.7s">
          {{ value.button_text|default:"GET STARTED" }}
          <img width="15" height="15" src="{% static 'img/demos/one-page-agency/icons/arrow-down.svg' %}" alt="" data-icon
               data-plugin-options='{"onlySVG": true, "removeClassAfterInit": "fadeIn", "extraClass": "svg-fill-color-light position-relative bottom-1 ms-4"}' />
        </a>
      </div>
    </div>
  </div>
</div>
