{% load wagtailimages_tags %}

<div class="container pt-4">
  <div class="row text-center pt-4 mt-5">
    <div class="col">
      <h2 class="word-rotator slide font-weight-bold text-8 mb-2">
        <span>{{ self.heading }}</span>
        {% if self.rotating_words %}
          <span class="word-rotator-words bg-primary">
            {% for word in self.rotating_words %}
              <b class="{% if forloop.first %}is-visible{% endif %}">{{ word }}</b>
            {% endfor %}
          </span>
        {% endif %}
      </h2>
      <h4 class="text-primary lead tall text-4">{{ self.subtitle }}</h4>
    </div>
  </div>

  <div class="row text-center mt-5 pb-5 mb-5">
    <div class="owl-carousel owl-theme carousel-center-active-item mb-0"
        data-plugin-options='{"responsive": {"0": {"items": 1}, "476": {"items": 1}, "768": {"items": 5}, "992": {"items": 7}, "1200": {"items": 7}}, "autoplay": true, "autoplayTimeout": 3000, "dots": false, "margin": 20}'>
      {% for logo in self.logos %}
        <div>
          {% image logo original class="img-fluid" alt="Customer Logo" %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

