 <span class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-centered-info thumb-info-no-zoom thumb-info-slide-info-hover">
    <span class="thumb-info-wrapper thumb-info-wrapper-no-opacity">
        <img src="{{ self.image.url }}" class="img-fluid" alt="">
        <span class="thumb-info-title">
            <span class="thumb-info-slide-info-hover-1">
                <span class="thumb-info-inner text-4">{{ self.title }}</span>
            </span>
            <span class="thumb-info-slide-info-hover-2">
                <span class="thumb-info-inner text-2">
                    <a href="{{ self.link }}" class="d-inline-flex align-items-center btn btn-light text-color-dark font-weight-bold px-4 btn-py-2 text-1 rounded">{{ self.button_text }} <i class="fa fa-arrow-right ms-2 ps-1 text-3"></i></a>
                </span>
            </span>
        </span>
    </span>
</span>
