{% load wagtailimages_tags %}

<div class="container pt-4">
  <div class="row align-items-center py-5 appear-animation" data-appear-animation="fadeInRightShorter">
    <div class="col-md-8 pe-md-5 mb-5 mb-md-0">
      <h2 class="font-weight-normal text-6 mb-3">
        <strong class="font-weight-extra-bold">{{ self.highlight }}</strong> {{ self.heading }}
      </h2>
      <p class="text-4">{{ self.description }}</p>
      {% if self.extra_text %}
        <p>{{ self.extra_text }}</p>
      {% endif %}
    </div>
    <div class="col-md-4 px-5 px-md-3">
      {% image self.image original class="img-fluid scale-2 my-4" alt="Style Switcher Image" %}
    </div>
  </div>
  <hr class="solid my-5">
</div>

